---
import { Image } from 'astro:assets'

import badge from '../assets/4.png'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>faggot</title>
	</head>
	<body>
		<Image src={badge} alt="trans rights" loading="eager"/>
	</body>
</html>
